ENV=DEV

API_LOGS=true
IMPT_LOGS=true

#Gemini settings
GEMINI_API_KEY="" # Will be added soon
GEMINI_MODEL="" # Will be added soon


# LM Agent (LM Studio)
LOCAL_LM_HOST=http://127.0.0.1:1234
LOCAL_LM_MODEL_BASE=qwen/qwen3-1.7b

